body{
   max-width: 1280px;
   margin: 68px auto 30px;
}

/* Headerlogo */
h1{
   font-size: 80px;
   line-height: 94px;
   margin-bottom: 40px;
}
h1 a{
   color: #000;
}
h1 span{
   color: #4BCAFF;
}

/* Header Nav */
.header-nav{
   background-color: #35444F;
   height: 70px;
}
.header-nav ul{
   display: flex;
   justify-content: center;
}
.header-nav li{
   font-size: 24px;
   color: #FFFFFF;
   line-height: 1;
   padding: 23px 35px;
   border-left: 1px solid #FFFFFF;
}
.header-nav li:last-child{
   border-left: 1px solid #FFFFFF;
   border-right: 1px solid #FFFFFF;
}
.header-nav li:hover{
   background-color: #222F3A;
}

/* Main block */
main{
   margin-top: 50px;
}

/* Aside Bar */
.aside-bar{
   border: 1px solid #495863;
   max-width: 345px;
}
.aside-bar ul{
   display: flex;
   flex-direction: column;
}
.aside-bar li{
   font-size: 27px;
   line-height: 1;
   padding: 25px 45px;
   color: #485863;
}
.aside-bar li:hover{
   background-color: #DBDBDB;
   padding: 25px 60px;
   color: #000;
}
