$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
$titles-color: #4e4e4e;
$subTitles-color: #7c7c7c;
$text-color: #5C5C5C;
$title-footer-color: #fefefe;
$text-footer-color: #b9b9b9;
$nav-menu-active-color: #57a4a4;
$nav-menu-hover-color: #E5E5E5;
$elem-color: #000;
$elem-color-opacity: rgba(0, 0, 0, 0.03);
$subElem-color: #fff;