* {
    font-family: "Montserrat", sans-serif;
}

.page-wrapper {
    min-width: 1200px;
}

/*-------------Header-------------*/


.header-wrapper {
    width: 100%;
    min-height: 120px;
    margin: auto;
    background: rgba(94, 93, 88, 0.6);
    position: absolute;
}

.header-wrapper .header {
    max-width: 1160px;
    min-height: 120px;
    margin: auto;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper .header-logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header-wrapper .header-logo .header-logo-part {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

.header-wrapper .header-logo .header-logo-part span {
    font-weight: 700;
    color: #18CFAB;
}

.header-wrapper .header-menu {
    min-height: 120px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    gap: 21px;
    color: rgba(255, 255, 255, 0.6);
    justify-content: center;
    align-items: center;
}

.header-wrapper .header-menu::after {
    content: url("../imgs/icons/Search icon 1.svg");;
    width: 20px;
    height: 20px;
}

.header-wrapper .header-menu .menu-item {
    min-height: 120px;
    padding-top: calc(101px / 2);
    transition: border-bottom 0.1s ease;
}

.header-wrapper .header-menu .menu-item:hover {
    min-height: 120px;
    padding-top: calc(101px / 2);
    color: #18CFAB;
    border-bottom: solid 3px #18CFAB;
}


/*----------------------------HOME------------------------------*/

.home {
    background: url("../imgs/Sections background/section-1(header).jpg") no-repeat fixed center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content {
    margin-top: 366px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .home-content h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.home .home-content h2 span {
    font-weight: 700;
    font-size: 35px;
    color: #18CFAB;
}

.home .home-content h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 78px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.home .home-content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
    margin-bottom: 129px;
}

.home .home-content .home-button-wrapper .home-btn-left {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #18CFAB;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0;
    transition: box-shadow 0.1s ease;

    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

.home .home-content .home-button-wrapper .home-btn-left:hover {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #18CFAB;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0 #18CFAB;


    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

.home .home-content .home-button-wrapper .home-btn-right {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #00CBF6;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0;
    transition: box-shadow 0.2s ease;


    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

.home .home-content .home-button-wrapper .home-btn-right:hover {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #00CBF6;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0 #00CBF6;

    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

/*----------------------------OPTIONS------------------------------*/
.option-wrapper {
    margin-top: 8px;
}

.option-wrapper .options {
    display: flex;
}

.option-wrapper .options .options-item {
    width: calc(100% / 4);
    min-height: 360px;
    text-align: center;
    background: #1C2A33;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.option-wrapper .options .options-item:nth-child(even) {
    background: #18CFAB;
    color: #FFFFFF;
}

.option-wrapper .options .options-item {
    text-transform: uppercase;
    color: #18CFAB;
}

.option-wrapper .options .options-item h3 {
    padding-top: 48px;
}

/*----------------------------OUR SERVICES------------------------------*/

.our-services {
    max-width: 1160px;
    min-height: 558px;
    margin: 0 auto 91px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-services .our-services-title {
    margin: 93px 0 99px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
}

.our-services .our-services-title::before {
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background: #18CFAB;
    bottom: -28px;
    left: 68px;
}

.our-services .our-services-title::after {
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background: #18CFAB;
    bottom: -34px;
    left: 80px;
}

.list-services-titles {
    min-width: 1160px;
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
}

.list-services-titles .service-title {
    min-height: 73px;
    min-width: calc(1160px / 6);
    background: #F8FCFE;
    border: 1px solid #F2F2F2;
    text-align: center;
    padding-top: 27px;
    cursor: pointer;
}

.list-services-titles .service-title:hover {
    border: solid 1px #18CFAB;
}

.list-services-titles .active-service {
    color: #FFFFFF;
    background-color: #18CFAB;
    position: relative;
    border: solid 1px #18CFAB;

}

.list-services-titles .active-service::after {
    content: '';
    width: 15px;
    height: 15px;
    rotate: 45deg;
    background: #18CFAB;
    position: absolute;
    left: 86px;
    bottom: -8px;
}

.our-services .list-services-articles {
    position: relative;
}

.our-services .list-services-articles .service-article {
    display: none;
    min-width: 1160px;
    position: absolute;
    left: -580px;
}

.our-services .list-services-articles .visible-article {
    display: initial;
}

.our-services .list-services-articles .service-article .article-content-wrapper {
    display: flex;
}

.our-services .list-services-articles .service-article .article-content-wrapper .article-content-text {
    margin-left: 13px;
}


/*----------------------------PURCHASE NOW------------------------------*/

.purchase-wrapper {
    box-sizing: border-box;
    background: url("../imgs/Sections background/section-22.jpg") no-repeat center/cover;
    min-height: 477px;
}

.purchase-wrapper .purchase-content {
    max-width: 1160px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purchase-wrapper .purchase-content .purchase-title {
    margin: 126px 0 12px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.purchase-wrapper .purchase-content .purchase-text {
    margin-bottom: 62px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;

}

.purchase-wrapper .purchase-content .purchase-btn {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #18CFAB;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0;
    transition: box-shadow 0.1s ease;

    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

.purchase-wrapper .purchase-content .purchase-btn:hover {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #18CFAB;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0 #18CFAB;

    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

/*----------------------------OUR AMAZING WORKS------------------------------*/

.our-amazing-works-wrapper {
    min-height: 1212px;
    background-color: #E9EDEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.our-amazing-works-wrapper .works-title {
    margin: 93px auto 93px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
}

.our-amazing-works-wrapper .works-title::before {
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background: #18CFAB;
    bottom: -28px;
    left: 130px;
}

.our-amazing-works-wrapper .works-title::after {
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background: #18CFAB;
    bottom: -34px;
    left: 142px;
}

.our-amazing-works-wrapper .works-gallery-filter-titles {
    width: fit-content;
    height: 58px;
    margin: 0 auto 70px;
    display: flex;
}

.our-amazing-works-wrapper .works-gallery-filter-titles .filter-title {
    padding: 18px 27px;
    border: solid 1px #DADADA;
    cursor: pointer;
}

.our-amazing-works-wrapper .works-gallery-filter-titles .filter-active {
    padding: 18px 27px;
    color: #18CFAB;
    border: solid 2px #18CFAB;
}

.our-amazing-works-wrapper .works-gallery-articles {
    max-width: 1160px;
    margin: 0 auto 70px;
    gap: 0;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-auto-rows: 206px;
}

.our-amazing-works-wrapper .works-gallery-articles .gallery-article {
    position: relative;
}


.our-amazing-works-wrapper .works-gallery-articles .hidden-article {
    display: none;
}

.our-amazing-works-wrapper .works-gallery-articles .gallery-article-hover {
    width: 284px;
    height: 206px;
    background-color: #E9EDEF;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.our-amazing-works-wrapper .works-gallery-articles .gallery-article-hover:hover {
    width: 284px;
    height: 206px;
    background-color: #E9EDEF;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 100;
}

.our-amazing-works-wrapper .works-gallery-articles .gallery-article-hover .gallery-article-hover-links {
    margin-bottom: 23px;
}

.our-amazing-works-wrapper .works-gallery-articles .gallery-article-hover h4:before {
    content: '';
    width: 284px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #18CFAB;
}

.our-amazing-works-wrapper .works-gallery-articles .gallery-article-hover h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #18CFAB;
}

.our-amazing-works-wrapper .works-gallery-articles .gallery-article-hover h5 {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
}


.our-amazing-works-wrapper .more-img-btn {
    margin: 0 auto 99px;
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    border-radius: 5px;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.our-amazing-works-wrapper .hidden-btn {
    display: none;
}

/*----loading animation----*/

.our-amazing-works-wrapper .box {
    width: 110px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 127px;
}

.our-amazing-works-wrapper .box .container {
    height: 15px;
    width: 105px;
    display: flex;
    position: relative;
}

.our-amazing-works-wrapper .box .container .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #18CFAB;
    animation: move 500ms linear 0ms infinite;
    margin-right: 30px;
}

.our-amazing-works-wrapper .box .container .circle:first-child {
    position: absolute;
    top: 0;
    left: 0;
    animation: grow 500ms linear 0ms infinite;
}

.our-amazing-works-wrapper .box .container .circle:last-child {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
    from {
        transform: scale(0, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes move {
    from {
        transform: translateX(0px)
    }
    to {
        transform: translateX(45px)
    }
}

.our-amazing-works-wrapper .hidden-loading {
    display: none;
}

/*----------------------------BREAKING NEWS------------------------------*/

.breaking-news-wrapper {
    min-height: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breaking-news-wrapper .news-title {
    margin: 93px auto 99px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
}

.breaking-news-wrapper .news-title::before {
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background: #18CFAB;
    bottom: -28px;
    left: 102px;
}

.breaking-news-wrapper .news-title::after {
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background: #18CFAB;
    bottom: -34px;
    left: 114px;
}

.breaking-news-wrapper .news-tabs-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 263px);
    column-gap: 25px;
    row-gap: 44px;
}

.breaking-news-wrapper .news-tabs-wrapper .news-tab {
    position: relative;
    text-align: center;
}

.breaking-news-wrapper .news-tabs-wrapper .news-tab h4 {
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #717171;

    transition: color 0.2s ease;
}

.breaking-news-wrapper .news-tabs-wrapper .news-tab .span-wrapper {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}

.breaking-news-wrapper .news-tabs-wrapper .news-tab .span-wrapper span {
    margin: 0 12px;
    position: relative;
}

.breaking-news-wrapper .news-tabs-wrapper .news-tab .span-wrapper span:first-child:after {
    content: '|';
    position: absolute;
    left: 80px;
}


.breaking-news-wrapper .news-tabs-wrapper .news-tab .squad-wrapper {
    width: 66px;
    height: 64px;
    background-color: #203E38;
    color: #FFFFFF;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s ease;
}

.breaking-news-wrapper .news-tabs-wrapper .news-tab .squad-wrapper span {
    display: inline-block;
    line-height: 25px;
}

.breaking-news-wrapper .news-tabs-wrapper .news-tab:hover h4 {
    color: #18CFAB;
}

.breaking-news-wrapper .news-tabs-wrapper .news-tab:hover .squad-wrapper {
    background-color: #18CFAB;

}


/*----------------------------WHAT PEOPLE SAY------------------------------*/

.people-say-wrapper {
    min-height: 954px;
    margin: auto;
    background: url("../imgs/Sections background/section-3.jpg") center/cover no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.people-say-wrapper .people-say-title {
    margin: 93px auto 99px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    position: relative;
}

.people-say-wrapper .people-say-title::before {
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background: #18CFAB;
    bottom: -28px;
    left: 246px;
}

.people-say-wrapper .people-say-title::after {
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background: #18CFAB;
    bottom: -34px;
    left: 258px;
}

.people-say-wrapper .swiper {
    max-width: 1160px;
}

.people-say-wrapper .swiper .swiper-wrapper {
    max-height: 58px;
}

.people-say-wrapper .swiper .swiper-wrapper .swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 58px;
}

.people-say-wrapper .swiper .swiper-wrapper .swiper-slide p {
    margin: 135px 0 37px;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    position: relative;
}

.people-say-wrapper .swiper .swiper-wrapper .swiper-slide p::before {
    content: url("../imgs/icons/quatmark.svg");
    width: 44px;
    height: 30px;
    scale: 1.5;
    position: absolute;
    top: -100px;
    left: 558px;
}


.people-say-wrapper .swiper .swiper-wrapper .swiper-slide h4 {
    color: #18CFAB;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
}

.people-say-wrapper .swiper .swiper-wrapper .swiper-slide h5 {
    margin: 0 0 38px;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
}

.people-say-wrapper .mySwiper .swiper-wrapper .swiper-slide img {
    box-sizing: content-box;
    border: solid 14px rgba(31, 218, 181, 0.2);
    border-radius: 100%;
}

.people-say-wrapper .swiper {
    position: relative;
    height: 728px;
}

.people-say-wrapper .swiper .swiper-button-next {
    width: 33px;
    height: 33px;
    position: absolute;
    right: 350px;
    top: 620px;
}

.people-say-wrapper .swiper .swiper-button-prev {
    width: 33px;
    height: 33px;
    position: absolute;
    left: 350px;
    top: 620px;
}

.people-say-wrapper .swiper .swiper-button-next::after {
    content: url("../imgs/icons/arrow_1.png");
    rotate: 180deg;
}

.people-say-wrapper .swiper .swiper-button-next:hover {
    width: 33px;
    height: 33px;
    content: url("../imgs/icons/arrow_hover2.png");
}

.people-say-wrapper .swiper .swiper-button-prev::after {
    content: url("../imgs/icons/arrow_1.png");
}

.people-say-wrapper .swiper .swiper-button-prev:hover {
    content: url("../imgs/icons/arrow_hover.png");
}

.people-say-wrapper .mySwiper2 {
    position: absolute;
    max-height: 100px;
    bottom: 54px;
}

.people-say-wrapper .mySwiper2 .swiper-wrapper {
    padding-top: 20px;
}

.people-say-wrapper .mySwiper2 .swiper-wrapper .swiper-slide {
    cursor: pointer;
}

.people-say-wrapper .mySwiper2 .swiper-wrapper .swiper-slide img {
    border: solid 3px rgba(31, 218, 181, 0.2);
    border-radius: 100%;
    margin: 0 10px;
}

.people-say-wrapper .mySwiper2 .swiper-wrapper .swiper-slide-thumb-active {
    position: relative;
    bottom: 15px;
}


/*----------------------------GALLERY OF BEST IMAGES------------------------------*/
.gallery-of-best-images {
    max-width: 1160px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-of-best-images .gallery-title {
    margin: 93px auto 115px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
}

.gallery-of-best-images .gallery-title::before {
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background: #18CFAB;
    bottom: -28px;
    left: 156px;
}

.gallery-of-best-images .gallery-title::after {
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background: #18CFAB;
    bottom: -34px;
    left: 170px;
}

.gallery-of-best-images .grid {
    margin-bottom: 52px;
    width: 100%;
    min-height: 920px;
}
.gallery-of-best-images .grid .masonry-hidden {
    display: none;
}

.gallery-of-best-images .grid-sizer {
    width: 377px;
}

.gallery-of-best-images .grid-item {
    margin: 4px;
    width: fit-content;
    position: relative;
}

.gallery-of-best-images .grid-item .img-hover {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.64);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-of-best-images .grid-item .img-hover:hover {
    opacity: 100;
}

.gallery-of-best-images .grid-item .img-hover .icon-wrapper {
    margin: 30% 10%;
    width: 110px;
    display: flex;
    justify-content: space-between;
}
.gallery-of-best-images .grid-item .img-hover .icon-wrapper .icon img{
    width: 45px;
}

.gallery-of-best-images .grid-item img {
    display: block;
    width: 370px;
}

.gallery-of-best-images .more-img-btn2 {
    margin: 0 auto 99px;
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    border-radius: 5px;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.gallery-of-best-images .hidden-btn {
    display: none;
}

/*----loading animation----*/

.gallery-of-best-images .box2 {
    width: 110px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 120px;
}

.gallery-of-best-images .box2 .container {
    height: 15px;
    width: 105px;
    display: flex;
    position: relative;
}

.gallery-of-best-images .box2 .container .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #18CFAB;
    animation: move 500ms linear 0ms infinite;
    margin-right: 30px;
}

.gallery-of-best-images .box2 .container .circle:first-child {
    position: absolute;
    top: 0;
    left: 0;
    animation: grow 500ms linear 0ms infinite;
}

.gallery-of-best-images .box2 .container .circle:last-child {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
    from {
        transform: scale(0, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes move {
    from {
        transform: translateX(0px)
    }
    to {
        transform: translateX(45px)
    }
}

.gallery-of-best-images .hidden-loading2 {
    display: none;
}

/*----------------------------FOOTER------------------------------*/

.footer {
    min-height: 121px;
    background-color: #22353F;

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.footer p {
    text-align: center;
    padding: 48px;
}

.footer p span {
    color: #18CFAB;
}