* {
    font-family: "Montserrat", sans-serif;
}

.page-wrapper {
    min-width: 1200px;
}

/*-------------Header-------------*/


.header-wrapper {
    width: 100%;
    min-height: 120px;
    margin: auto;
    background: rgba(29, 29, 29, 0.46);
    position: absolute;
}

.header-wrapper .header {
    max-width: 1160px;
    min-height: 120px;
    margin: auto;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper .header-logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header-wrapper .header-logo .header-logo-part {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

.header-wrapper .header-logo .header-logo-part span {
    font-weight: 700;
    color: #18CFAB;
}

.header-wrapper .header-menu {
    min-height: 120px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    gap: 21px;
    color: rgba(255, 255, 255, 0.6);
    justify-content: center;
    align-items: center;
}

.header-wrapper .header-menu::after {
    content: url("../imgs/icons/Search icon 1.svg");;
    width: 20px;
    height: 20px;
}

.header-wrapper .header-menu .menu-item {
    min-height: 120px;
    padding-top: calc(101px / 2);
    transition: border-bottom 0.1s ease;
}

.header-wrapper .header-menu .menu-item:hover {
    min-height: 120px;
    padding-top: calc(101px / 2);
    border-bottom: solid 3px #18CFAB;
}


/*----------------------------HOME------------------------------*/

.home {
    background: url("../imgs/Sections background/section-1(header).jpg") no-repeat fixed center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content {
    margin-top: 366px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .home-content h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.home .home-content h2 span {
    font-weight: 700;
    font-size: 35px;
    color: #18CFAB;
}

.home .home-content h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 78px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.home .home-content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
    margin-bottom: 129px;
}

.home .home-content .home-button-wrapper .home-btn-left {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #18CFAB;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0;
    transition: box-shadow 0.1s ease;

    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

.home .home-content .home-button-wrapper .home-btn-left:hover {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #18CFAB;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0 #18CFAB;


    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

.home .home-content .home-button-wrapper .home-btn-right {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #00CBF6;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0;
    transition: box-shadow 0.2s ease;


    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

.home .home-content .home-button-wrapper .home-btn-right:hover {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #00CBF6;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0 #00CBF6;

    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

/*----------------------------OPTIONS------------------------------*/
.option-wrapper {
    margin-top: 8px;
}

.option-wrapper .options {
    display: flex;
}

.option-wrapper .options .options-item {
    width: calc(100% / 4);
    min-height: 360px;
    text-align: center;
    background: #1C2A33;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.option-wrapper .options .options-item:nth-child(even) {
    background: #18CFAB;
    color: #FFFFFF;
}

.option-wrapper .options .options-item {
    text-transform: uppercase;
    color: #18CFAB;
}

.option-wrapper .options .options-item h3 {
    padding-top: 48px;
}

/*----------------------------OUR SERVICES------------------------------*/
.our-services {
    max-width: 1160px;
    margin: 0 auto 91px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-services h2 {
    margin: 90px 0 90px 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
}

.our-services h2::before {
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background: #18CFAB;
    bottom: -26px;
    left: 68px;
}

.our-services h2::after {
    content: '';
    width: 78px;
    height: 2px;
    position: absolute;
    background: #18CFAB;
    bottom: -34px;
    left: 80px;
}

.list-services-titles {
    min-width: 1160px;
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
}

.list-services-titles .service-title {
    min-height: 73px;
    min-width: calc(1160px / 6);
    background: #F8FCFE;
    border: 1px solid #F2F2F2;
    text-align: center;
    padding-top: 27px;
}

.list-services-titles .service-title:hover {
    border: solid 1px #18CFAB;
}

.list-services-titles .active-service {
    color: #FFFFFF;
    background-color: #18CFAB;
    position: relative;
}

.list-services-titles .active-service::after {
    content: '';
    width: 15px;
    height: 15px;
    rotate: 45deg;
    background: #18CFAB;
    position: absolute;
    left: 86px;
    bottom: -8px;
}

.service-article {
    display: none;
}

.visible {
    display: initial;
}

.article-content-wrapper {
    display: flex;
}

.article-content-wrapper p {
    margin-left: 13px;
}


/*----------------------------PURCHASE NOW------------------------------*/

.purchase-wrapper {
    box-sizing: border-box;
    background: url("../imgs/Sections background/section-22.jpg") no-repeat center/cover;
    min-height: 477px;
}

.purchase-wrapper .purchase-content {
    max-width: 1160px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purchase-wrapper .purchase-content h2 {
    margin: 126px 0 12px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
}

.purchase-wrapper .purchase-content p {
    margin-bottom: 62px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;

}

.purchase-wrapper .purchase-content .purchase-btn {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #18CFAB;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0;
    transition: box-shadow 0.1s ease;

    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

.purchase-wrapper .purchase-content .purchase-btn:hover {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #18CFAB;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0 #18CFAB;

    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

/*----------------------------OUR AMAZING WORKS------------------------------*/

.our-work-wrapper {
    min-height: 1212px;
    display: flex;
    flex-direction: column;
}

.our-work-wrapper .our-work-title {
    margin: 95px auto 93px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.our-work-wrapper .list-filter-titles {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
}

.our-work-wrapper .list-filter-titles .filter-title {
    padding: 14px 27px;
    border-top: solid 1px #DADADA;
    border-bottom: solid 1px #DADADA;
    border-right: solid 1px #DADADA;
}

.our-work-wrapper .list-filter-titles .filter-title:last-child {
    border-right: solid 1px #DADADA;
}

.our-work-wrapper .list-filter-titles .filter-title:first-child {
    border: solid 1px #DADADA;
}

.our-work-wrapper .list-filter-titles .filter-title:hover {
    padding: 14px 27px;
    color: #18CFAB;
    border: solid 1px #18CFAB;
}

/*.list-filter-titles .active-filter {*/
/*    color: #18CFAB;*/
/*    padding: 14px 27px;*/
/*    border: solid 2px #18CFAB;*/
/*}*/

/*----------------------------OUR AMAZING WORKS------------------------------*/


