* {
    font-family: "Montserrat", sans-serif;
}

/*-------------Home-------------*/

.home-wrapper {
    background: url("../imgs/Sections background/section-1(header).jpg") center/cover no-repeat;
    height: 100vh;
}
.header-wrapper{
    min-height: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(29, 29, 29, 0.46);
}
.header-wrapper .header {
    min-width: 1160px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-wrapper .header-logo {
    display: flex;
    align-items: center;
    gap: 6px;
}
.header-wrapper .header-logo .header-logo-part {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}
.header-wrapper .header-logo .header-logo-part span {
    font-weight: 700;
    color: #18CFAB;
}
.header-wrapper .header-menu {
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    gap: 21px;
    color: rgba(255, 255, 255, 0.6);
}
.header-wrapper .header-menu::after {
    content: url("../imgs/icons/Search icon 1.svg");;
    width: 20px;
    height: 20px;
}
.home-wrapper .home {
    max-width: 1160px;
    margin: auto;
    margin-top: 251px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-wrapper .home h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.home-wrapper .home h2 span {
    font-weight: 700;
    font-size: 35px;
    color: #18CFAB;
}
.home-wrapper .home h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 78px;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.home-wrapper .home h3 {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
    margin-bottom: 129px;
}
.home-wrapper .home .home-button-wrapper{

}
.home-wrapper .home .home-button-wrapper .home-btn-left {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #18CFAB;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0;

    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}
.home-wrapper .home .home-button-wrapper .home-btn-right {
    min-width: 168px;
    height: 68px;
    margin: 0 13px;
    background: #00CBF6;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0;

    position: relative;

    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

